bandit==1.8.3
black==25.1.0
boto3==1.38.7
botocore==1.38.7
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
coverage==7.8.0
flake8==7.2.0
idna==3.10
iniconfig==2.1.0
jmespath==1.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
platformdirs==4.3.7
pluggy==1.5.0
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
s3transfer==0.12.0
six==1.17.0
stevedore==5.4.1
urllib3==2.4.0
